{% extends 'base.html' %}
{% block title %}Hoàn Tất Đặt Lại Mật Khẩu{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success">
                <h4>Mật khẩu của bạn đã được thay đổi thành công!</h4>
                <p>Bây giờ bạn có thể <a href="{% url 'login' %}" class="alert-link">đăng nhập</a> với mật khẩu mới.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
