name: Django CI/CD Test & Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.10] # Cập nhật phiên bản Python

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test

  deploy:
    runs-on: ubuntu-latest
    needs: build # Chỉ chạy sau khi 'build' thành công
    if: github.ref == 'refs/heads/main' # Chỉ chạy khi push lên nhánh main

    steps:
      - name: Deploy to PythonAnywhere
        uses: appleboy/ssh-action@master
        with:
          host: ssh.pythonanywhere.com
          username: ${{ secrets.PA_SSH_USERNAME }}
          password: ${{ secrets.PA_SSH_PASSWORD }}
          port: 22
          script: |
            # Di chuyển đến thư mục project
            cd ${{ secrets.PA_PROJECT_PATH }}

            # Kéo code mới nhất từ nhánh main
            git pull origin main

            # Kích hoạt môi trường ảo
            source ${{ secrets.PA_VENV_PATH }}/bin/activate

            # Cài đặt các thư viện
            pip install -r requirements.txt

            # Chạy migrate
            python manage.py migrate

            # Thu thập file tĩnh
            python manage.py collectstatic --noinput

            # Tải lại web app bằng cách "chạm" vào file wsgi
            touch ${{ secrets.PA_WSGI_FILE_PATH }}